<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitamin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vitamin_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TUI.TUI_K"></activity>
        <activity android:name=".TUI.TUI_F" />
        <activity android:name=".TUI.TUI_E" />
        <activity android:name=".TUI.TUI_D" />
        <activity android:name=".TUI.TUI_C" />
        <activity android:name=".TUI.TUI_B12" />
        <activity android:name=".TUI.TUI_B9" />
        <activity android:name=".TUI.TUI_B7" />
        <activity android:name=".TUI.TUI_B6" />
        <activity android:name=".TUI.TUI_B5" />
        <activity android:name=".TUI.TUI_B3" />
        <activity android:name=".TUI.TUI_B2" />
        <activity android:name=".TUI.TUI_B" />
        <activity android:name=".TUI.TUI_A" />
        <activity android:name=".Solubility.SolubleK" />
        <activity android:name=".Solubility.SolubleF" />
        <activity android:name=".Solubility.SolubleE" />
        <activity android:name=".Solubility.SolubleD" />
        <activity android:name=".Solubility.SolubleB12" />
        <activity android:name=".Solubility.SolubleC" />
        <activity android:name=".Solubility.SolubleB9" />
        <activity android:name=".Solubility.SolubleB7" />
        <activity android:name=".Solubility.SolubleB6" />
        <activity android:name=".Solubility.SolubleB5" />
        <activity android:name=".Solubility.SolubleB3" />
        <activity android:name=".Solubility.SolubleB2" />
        <activity android:name=".Solubility.SolubleB" />
        <activity android:name=".Solubility.SolubleA" />
        <activity android:name=".RDA.RDA_K" />
        <activity android:name=".RDA.RDA_F" />
        <activity android:name=".RDA.RDA_E" />
        <activity android:name=".RDA.RDA_D" />
        <activity android:name=".RDA.RDA_C" />
        <activity android:name=".RDA.RDA_B12" />
        <activity android:name=".RDA.RDA_B9" />
        <activity android:name=".RDA.RDA_B7" />
        <activity android:name=".RDA.RDA_B6" />
        <activity android:name=".RDA.RDA_B5" />
        <activity android:name=".RDA.RDA_B3" />
        <activity android:name=".RDA.RDA_B2" />
        <activity android:name=".RDA.RDA_B" />
        <activity android:name=".RDA.RDA_A" />
        <activity android:name=".Effect.Effect_k" />
        <activity android:name=".Effect.Effect_F" />
        <activity android:name=".Effect.Effect_E" />
        <activity android:name=".Effect.Effect_D" />
        <activity android:name=".Effect.Effect_C" />
        <activity android:name=".Effect.Effect_B12" />
        <activity android:name=".Effect.Effect_B9" />
        <activity android:name=".Effect.Effect_B7" />
        <activity android:name=".Effect.Effect_B6" />
        <activity android:name=".Effect.Effect_B5" />
        <activity android:name=".Effect.Effect_B3" />
        <activity android:name=".Effect.Effect_B2" />
        <activity android:name=".Effect.Effect_B" />
        <activity android:name=".Effect.Effect_A" />
        <activity android:name=".Supplement.Suup_K" />
        <activity android:name=".Supplement.Supp_F" />
        <activity android:name=".Supplement.Supp_E" />
        <activity android:name=".Supplement.Supp_D" />
        <activity android:name=".Supplement.Supp_C" />
        <activity android:name=".Supplement.Supp_B12" />
        <activity android:name=".Supplement.Supp_B9" />
        <activity android:name=".Supplement.Supp_B7" />
        <activity android:name=".Supplement.Supp_B6" />
        <activity android:name=".Supplement.Supp_B5" />
        <activity android:name=".Supplement.Supp_B3" />
        <activity android:name=".Supplement.Supp_B2" />
        <activity android:name=".Supplement.Supp_B" />
        <activity android:name=".Supplement.Supp_A" />
        <activity android:name=".vitaminDietary.DietaryK" />
        <activity android:name=".vitaminDietary.DietaryF" />
        <activity android:name=".vitaminDietary.DietaryE" />
        <activity android:name=".vitaminDietary.DietaryD" />
        <activity android:name=".vitaminDietary.DietaryC" />
        <activity android:name=".vitaminDietary.DietaryB12" />
        <activity android:name=".vitaminDietary.DietaryB9" />
        <activity android:name=".vitaminDietary.DietaryB7" />
        <activity android:name=".vitaminDietary.DietaryB6" />
        <activity android:name=".vitaminDietary.DietaryB5" />
        <activity android:name=".vitaminDietary.DietaryB3" />
        <activity android:name=".vitaminDietary.DietaryB2" />
        <activity android:name=".vitaminDietary.DietaryB" />
        <activity android:name=".vitaminDietary.DietaryA" />
        <activity android:name=".Vitamins.vitaminK" />
        <activity android:name=".Vitamins.vitaminF" />
        <activity android:name=".Vitamins.vitaminE" />
        <activity android:name=".Vitamins.vitaminD" />
        <activity android:name=".Vitamins.vitaminC" />
        <activity android:name=".Vitamins.vitaminB12" />
        <activity android:name=".Vitamins.vitaminB9" />
        <activity android:name=".Vitamins.vitaminB7" />
        <activity android:name=".Vitamins.vitaminB6" />
        <activity android:name=".Vitamins.vitaminB5" />
        <activity android:name=".Vitamins.vitaminB3" />
        <activity android:name=".Vitamins.vitaminB2" />
        <activity android:name=".Activity.vitaminB" />
        <activity android:name=".Activity.vitaminA" />
        <activity android:name=".Activity.Main2Activity" />
        <activity android:name=".Activity.info_vitamin" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/bar_title" />
        <activity
            android:name=".Activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>